.air {
  &__desc {
    margin-left: 60px;
  }
  &__container {
    transform: translate(320px, -50px);
    position: relative;
    margin-top: 33px;
    row-gap: 40px;
    padding-left: 60px;
    display: flex;
  }
  &__content {
    position: relative;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 280px;
  }

  &__tooltip {
    position: absolute;
    &-text {
      background: var(--gradient-color);
      padding: 4px 12px;
      border-radius: 64px;
      color: var(--white-color);
      font-size: var(--small-font-size);
      font-weight: var(--font-medium);
      position: absolute;
      transform: translate(60px, -40px);
      white-space: nowrap;
    }
  }
}
@media screen and (max-width: 1100px) {
  .air {
    &__container {
      position: relative;
      transform: translate(-26px, -40px);
    }
    &__content {
      flex-direction: column;
    }
    &__desc {
      text-align: center;
      margin: auto;
    }
  }
  .air__tooltip {
    &-1 {
      top: 110px;
      left: 390px;
    }
    &-2 {
      top: 281px;
      right: 310px;
    }
    &-3 {
      bottom: 284px;
      right: 300px;
    }
  }
}
.text1 {
  transform: translate(-10px, -20px);
}
.text2 {
  transform: translate(-10px, -20px);
}
.text3 {
  transform: translate(-10px, -20px);
}
