.header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      font-size: 25px;
      font-weight: var(--font-semi-bold);
      color: var(--white-color);
      text-decoration: none;
      height: var(--header-height);
    }
  }
}
.nav__toggle,
.nav__close {
  display: flex;
  font-size: 24px;
  color: var(--white-color);
  cursor: pointer;
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  .nav__link {
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: color 0.5s;
    &:hover {
      color: var(--first-color);
    }
  }
}

.nav__search {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: var(--white-color);
    font-size: 22px;
    font-weight: var(--font-medium);
    a:hover {
      color: var(--first-color);
    }
  }
  .nav__search-icon {
    margin-left: 3px;
  }
  .basket {
    margin-left: 30px;
    height: var(--header-height);
  }
}

.nav__close {
  position: absolute;
  top: 16px;
  right: 24px;
}
.nav__toggle {
  position: absolute;
  top: 16px;
  left: 24px;
}
.show-menu {
  top: 0;
}

@media screen and (max-width: 1150px) {
  .nav__toggle,
  .nav__search,
  .nav__close {
    display: block;
  }
  .nav__logo {
    display: none;
  }
  .nav__menu ul {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(23, 12%, 4%, 0.2);
    width: 100%;
    padding: 88px 72px;
    backdrop-filter: blur(32px);
    transition: top 0.4s;
    --webkit-backdrop-filter: blur(32px);
  }

  .nav__search {
    position: absolute;
    width: 55%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      background: none;
    }

    .nav__search-icon {
      margin-left: 3px;
    }
  }

  .nav__close {
    position: absolute;
    top: 16px;
    right: 24px;
    display: none;
    font-size: 24px;
    color: var(--white-color);
    cursor: pointer;
  }

  .show-menu .nav__close {
    display: block;
  }
}
